.footer {
  background-color: $color-grey-dark-3;
  padding: 10rem 0;
  font-size: $default-font-size;
  color: $color-grey-light-1;

  &__logo-box {
    text-align: center;
    margin: 0 0 8rem 0;
  }
  &__logo {
    width: 15rem;
    height: auto;
  }
  &__navigation {
    border-top: 1px solid $color-grey-dark;
    padding-top: 2rem;
    display: inline-block;
  }
  &__list {
    text-decoration: none;
  }

  &__item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 1.25rem;
    }
  }
  &__link {
    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      color: $color-grey-light-1;
      background-color: $color-grey-dark-3;
      text-transform: uppercase;
      transition: all 0.2s;
    }
    &:hover,
    &:active {
      color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
      transform: rotate(4deg) scale(1.1);
    }
  }
  &__copyright {
    border-top: 1px solid $color-grey-dark;
    padding-top: 2rem;
    float: right;
    width: 90%;
    // display: inline-block;
  }
}
